{% extends 'home.html' %}
{% block content %}
              <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container jumbotron" style="width: 35%">
    {% if name == "Candidate" %}
    <h1>{{ name }}</h1>
    <p>
    <ol><a href="/Candidate/exam">Introduction</a></ol>
    <ol><a href="/Candidate/exam/start">Exam</a></ol>
    <ol><a href="/Candidate/exam/selectCode/">Leaderboard</a></ol>
        <ol><a href={{ "/accounts/" }}{{ name }}{{ "/logout" }}>Logout</a></ol>
    </p>
        {% endif %}
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 imgcntr " style="width: 65%" id="selectCode">
              <h2 style="text-align: center">Select Exam Code</h2>
{% if givenExam == "Yes" %}
{##########################################################################              #}
<p>Click on exam code to see the your score in this exam</p>
{% for i in user %}
<button class="btn btn-primary btn-lg c" name="examCode">
    {{ i.examCode }}
</button>
{% endfor %}
          {% else %}
          <h3>You did not give any exam yet</h3>
          {% endif %}
          </div>
          </div>
    <script>
        $(document).ready(function() {
            $('#selectCode').on("click", 'button.c', function (){
            examCode = {'examCode': $(this).text().trim(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'}
            alert($(this).text());
        $.post( "/Institute/exam/board", examCode).done(function( data ) {
        $("#selectCode").html(data);
        });
});

    });
    </script>
{% endblock %}