{% extends 'home.html' %}
{% block content %}
              <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container jumbotron" style="width: 35%">
    {% if name == "Candidate" %}
    <h1>{{ name }}</h1>
    <p>
    <ol><a href="/Candidate/exam">Introduction</a></ol>
    <ol><a href="/Candidate/exam/start">Exam</a></ol>
    <ol><a href="">Leaderboard</a></ol>
        <ol><a href={{ "/accounts/" }}{{ name }}{{ "/logout" }}>Logout</a></ol>
    </p>
        {% endif %}
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 imgcntr " style="width: 65%">
              <h3 style="text-align: center">{{ user }}</h3>
        <p style="text-align: center">Welcome to Exam portal</p>
              <h3>Instruction</h3>
              <ul>
                  <li>Each question have equal marks(+3).</li>
                  <li>You can Appear in the exam by using Exam Code.</li>
                  <li>You can not cancel the exam during session.</li>
              </ul>
          </div>
          </div>
{% endblock %}