<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <img src={{ STATIC_URL }}image/pause.jpg" style="float: right; width: 3%; height: 3%" onclick="stop()">
    <h3 style="text-align: center">Exam Code <br><br>
        {{ "qwerad" }}</h3>
        <h5 style="float: right">Remaining Time	&nbsp; <time>03:00</time></h5>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container jumbotron" style="width: 25%">
            <p>Question</p>
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 imgcntr " style="width: 70%">
            <p class="question">1. What is the answer to this question?</p>
            <ul class="answers">
            <input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Answer 1</label><br/>
            <input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Answer 2</label><br/>
            <input type="radio" name="q1" value="c" id="q1c"><label for="q1c">Answer 3</label><br/>
            <input type="radio" name="q1" value="d" id="q1d"><label for="q1d">Answer 4</label><br/>
            </ul>
              </p>
          </div>
          </div>
</div>
{#<script>#}
{#    window.onload = timer();#}
{#    function stop()#}
{#    {#}
{#        alert("you want to pause");#}
{#    }#}
{#    function timer()#}
{#    {#}
{#        alert("timer start");#}
{#    }#}
{#</script>#}

</body>
</html>