<h2 style="text-align: center">{{ examCode }}</h2>

{##########################################################################              #}
{% if None == "True" %}
    <p>No LeaderBoard because No user give exam till now</p>
{% else %}
    <h5>LeaderBoard for this exam code</h5>
    <table style="width:100%">
               <tr>
                <th>Username</th>
                <th>Score</th>
                <th>Rank</th>
              </tr>
    {% for i in score %}
              <tr>
                <td>{{ i.user }}</td>
                <td>{{ i.score }}</td>
                <td>{{ i }}</td>
              </tr>
    {% endfor %}
</table>
{% endif %}