<h2 style="text-align: center">{{ examCode }}</h2>

{##########################################################################              #}
{% if none == "True" %}
<p>No LeaderBoard because You did not give any exam</p>
{% else %}
    <h5>LeaderBoard for this exam code</h5>
    <table style="width:100%">
               <tr>
                <th>Username</th>
                <th>Score</th>
              </tr>
    {% for i in user %}
              <tr>
                <td>{{ i.user }}</td>
                <td>{{ i.score }}</td>
              </tr>
    {% endfor %}
    </table>
    {% endif %}