{% extends 'home.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container jumbotron" style="width: 25%">
{#    {% if name == "Institute" %}#}
    <h1>{{ name }}</h1>
    <p>
        <ol><a href="/Institute/exam">Introduction</a></ol>
        <ol><a href="/Institute/exam/examdetails">Enter Exam Details</a></ol>
        <ol><a href="/Institute/exam/scores">Candidate Scores</a></ol>
        <ol><a href="/Institute/exam/editSet">Set, edit paper option</a></ol>
        <ol><a href={{ "/accounts/" }}{{ name }}{{ "/logout" }}>Logout</a></ol>
    </p>
{#                    {% endif %}#}
 </div>
 <div class="col-sm-6 col-lg-6 col-md-6 imgcntr " style="width: 70%" id="selectCode">
<h3>These are Exam Code added by you, click to add or edit the question</h3></br>
     {% for i in examCode %}
<a href="#"><button class="btn btn-primary btn-lg c" name="examCode">
    {{ i.examCode }}
</button></a>
     {% endfor %}
          </div>
</div>
    <script>
        $(document).ready(function() {
            $('#selectCode').on("click", 'button.c', function (){
            examCode = {'examCode': $(this).text().trim(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'}
{#            alert($(this).text());#}
        $.post( "/Institute/exam/setQues", examCode).done(function( data ) {
        $("#selectCode").html(data);
        });
});
    });
    </script>
{% endblock %}