{% extends 'home.html' %}
{% block content %}
    <h1>{{ name }} Login</h1>
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container jumbotron" style="width: 25%">
            <a href="/">Introduction</a><br>
<a href="/accounts/Candidate/login">Candidate Login</a></br>
<a href="/accounts/Candidate/register">Candidate Register</a> </br>
          <a href="/accounts/Institute/login">Institute Login</a></br>
<a href="/accounts/Institute/register">Institute Register</a>
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 imgcntr " style="width: 70%">
    <form method="POST" action={{ "/accounts/" }}{{ name }}{{ "/login" }} class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">submit</button>
    </form>
          </div>
          </div>
{% endblock %}