{% extends 'home.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container jumbotron" style="width: 25%">
            <a href="/">Introduction</a><br>
<a href="/accounts/Candidate/login">Candidate Login</a></br>
<a href="/accounts/Candidate/register">Candidate Register</a> </br>
          <a href="/accounts/Institute/login">Institute Login</a></br>
<a href="/accounts/Institute/register">Institute Register</a>
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 imgcntr " style="width: 70%">
    <h1 style="text-align: center">{{ name }} Login</h1>
    <form method="POST" action={{ "/accounts/" }}{{ name }}{{ "/login" }} class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">submit</button>
    </form>
              {% if status == 0 %}
                  <script>
                  alert("User credentials wrong");
                  </script>
                  {% elif status == 2 %}
                  <script>
                  alert("You have Registered");
                  </script>
                  {% elif atatus == 3 %}
                  <script>
                  alert("Something wrong with your URL");
                  </script>
              {% endif %}
          </div>
          </div>
{% endblock %}