{% extends 'home.html' %}
{% block content %}
              <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container jumbotron" style="width: 35%">
    {% if name == "Candidate" %}
    <h1>{{ name }}</h1>
    <p>
    <ol><a href="/Candidate/exam">Introduction</a></ol>
    <ol><a href="/Candidate/exam/start">Exam</a></ol>
    <ol><a href="/Candidate/exam/selectCode">Leaderboard</a></ol>
        <ol><a href={{ "/accounts/" }}{{ name }}{{ "/logout" }}>Logout</a></ol>
    </p>
        {% endif %}
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 imgcntr " style="width: 65%">
              <h2 style="text-align: center">Select Exam Code</h2>

{##########################################################################              #}
<form method="post" action="/Candidate/exam/session/">
{% csrf_token %}
  Enter Exam Code:<br><br>
  <input type="text" name="examCode" placeholder="Exam Code" required ><br><br>
    <button id="sub" type="submit" class="save btn btn-primary btn-lg">Next</button>
    {% if wrong != "true" %}
    <p>Enter code is wrong</p>
    {% endif %}
        </form>
          </div>
          </div>
{% endblock %}