{% extends 'home.html' %}
{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container jumbotron" style="width: 25%">
{#    {% if name == "Institute" %}#}
    <h1>{{ name }}</h1>
    <p>
    <ol><a href="/Institute/exam">Introduction</a></ol>
    <ol><a href="">Set paper option</a></ol>
    <ol><a href="">Candidate Scores</a></ol>
        <ol><a href={{ "/accounts/" }}{{ name }}{{ "/logout" }}>Logout</a></ol>
    </p>
{#                    {% endif %}#}
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 imgcntr " style="width: 70%" id="question">
        <h3 style="text-align: center">Set Paper</h3>

              <form method="post">
{#  <input list="browsers" name="browser">#}
{#  <datalist id="browsers">#}

              <select>
      {% for i in l %}
    <option value={{ i }}>{{ i }}</option>
{% endfor %}
              </select></br></br>
{#  </datalist>#}
  <button type="submit" onclick="showForm()" class="save btn btn-default">Next</button>
</form>
          </div>
          </div>
    <script>
    function showForm()
    {
        var test = "<div><h3 style='text-align:center'>Set Paper</h3></br> Hello</div>"
        var xHttp = new XMLHttpRequest();
        var str = $( "form" ).serialize();
        console.log(str)
        document.getElementById("question").innerHTML =test;
    }
    </script>
{% endblock %}