<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h3 style="text-align: center">Exam Code</h3>
       <h4 style="text-align: center"> {{ examCode}}</h4>
        <button id="start" style="float: left;" onclick="start()" class="btn btn-primary btn-lg">Start</button>
{#        <button id="pause" style="float: right;" class="btn btn-primary btn-lg">Pause</button>#}
{#        <button id="resume" style="float: right;" class="btn btn-primary btn-lg">resume</button><br><br><br>#}
    <br><br><br>
        {% for i in total %}
            <div style="float: right">
        <h4>Total Time: {{ i.totalTime }} Min</h4>
        <h4>Total Mark: {{ i.totalMark }}</h4>
        <h4>Total Question: {{ totalQuest }}</h4>
            </div>
        </br>
        <h4>Spend Time: HH:MM:SS</h4>
        <span id="hour"></span>
        <span id="min"></span>
        <span id="sec"></span>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container jumbotron" style="width: 25%">
            <p>Question Number</p>
            {% for i in tot %}
                <div style="width: 10px; height: auto; border-radius: 50%; color: red">
            {{ i }}
                </div>
            {% endfor%}
          </div>
            </br>
          <div class="col-sm-6 col-lg-6 col-md-6 imgcntr " style="width: 70%">
              {% for i in allQuestion %}
            <form id="questForm" method="post" action="/Candidate/exam/session/{{ examCode }}/done">{% csrf_token %}
            <p class="question">{{ i.q_id }}. {{ i.question }}</p>
            <ul class="answers">
            <input type="radio" name={{ 'q' }}{{ i.q_id }} value={{ i.option1 }} id={{ 'q' }}{{ i.q_id }} ><label for="q1a">{{ i.option1 }}</label><br/>
            <input type="radio" name={{ 'q' }}{{ i.q_id }} value={{ i.option2 }} id={{ 'p' }}{{ i.q_id }} ><label for="q1b">{{ i.option2 }}</label><br/>
            <input type="radio" name={{ 'q' }}{{ i.q_id }} value={{ i.option3 }} id={{ 'r' }}{{ i.q_id }} ><label for="q1c">{{ i.option3 }}</label><br/>
            <input type="radio" name={{ 'q' }}{{ i.q_id }} value={{ i.option4 }} id={{ 's' }}{{ i.q_id }} ><label for="q1d">{{ i.option4 }}</label><br/>
            </ul>
        {% endfor %}
        <button id="sub" type="submit" onclick="Answer()" disabled class="save btn btn-primary btn-lg">Submit</button>
    </form>
          </div>
          </div>
</div>
<script>
var Clock = {
  totalSeconds: 0,

  start: function () {
    var self = this;

    this.interval = setInterval(function () {
      self.totalSeconds += 1;

      $("#hour").text(Math.floor(self.totalSeconds / 3600));
      $("#min").text(Math.floor(self.totalSeconds / 60 % 60));
      $("#sec").text(parseInt(self.totalSeconds % 60));
    }, 1000);
  },

  pause: function () {
      alert("You want to pause the exam");
    clearInterval(this.interval);
    delete this.interval;
  },

  resume: function () {
      alert("You want to resume the exam");
    if (!this.interval) this.start();
  }
};

function start() {
    alert("you want to start the exam, Don't refresh or press back after start the quiz");
      var auto_refresh = setInterval(
    function()
    {
    submitform();
    }, {{ i.totalTime }} * {{ 60 }} * {{ 1000 }});

    function submitform()
    {
{#      alert('test');#}
      document.getElementById("questForm").submit();
    }

    document.getElementById("sub").disabled = false;
    var values = {};
    values["csrfmiddlewaretoken"] = '{{ csrf_token }}';
    $.post( "/Candidate/exam/time", values).done(function( data ) {
        if(data == "0")
            {
                alert("Exam code does not exist, please add")
            }
            else
        {
            alert("done");
        }
            });

   var count = {{ totalQuest }}
    var ans = 0;
    for (var i = 1; i <= count; i++) {
        document.getElementById('q' + i).disabled = false;
        document.getElementById('p' + i).disabled = false;
        document.getElementById('r' + i).disabled = false;
        document.getElementById('s' + i).disabled = false;
    }
   Clock.start();
}



window.onload = function () {
    var count = {{ totalQuest }}
    var ans = 0;
    for (var i = 1; i <= count; i++) {
{#        alert("hello")#}
{#        alert(document.getElementById('q' + i).innerHTML)#}
        document.getElementById('q' + i).disabled = true;
        document.getElementById('p' + i).disabled = true;
        document.getElementById('r' + i).disabled = true;
        document.getElementById('s' + i).disabled = true;
    }
}

function Answer() {
    var count= {{ totalQuest }}
    var ans = 0;
    for(var i=1;i<=count;i++)
    {
        var id = '#q' + i;
        if($('#q' + i).is(':checked')) {
            ans=ans+1;
        }
        if($('#p' + i).is(':checked')) {
            ans=ans+1;
        }
        if($('#r' + i).is(':checked')) {
            ans=ans+1;
        }
        if($('#s' + i).is(':checked')) {
            ans=ans+1;
        }
    }
    alert("You have answered: " + ans + " Question, You want to submit");

}
</script>
        {% endfor %}

</body>
</html>